
.selected {
  font-weight: bold;
}

header {
  width: 100%;
  text-align: center;
  padding: 20px;
}


div.login {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 40vh;
}
