div.subject-content {
  background-color: #f6f6ef;
  margin: 10px;
  padding: 5px;
  div.list {
    padding: 10px 0px;
    a {
      display: block;
      padding: 10px 20px;
      text-transform: capitalize;
      text-decoration: none;
      color: black;
      &:hover {
        background-color: grey;
      }
    }
  }
}

.header {
  background-color: #6b32e1;
  padding: 3px;
}

div.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  div {
    background: green;
    color: white;
    width: 100px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
  }
}
