div.categories-list {
  background-color: #f6f6ef;
  div.list {
    padding: 10px 0px;
    a {
      display: block;
      padding: 10px 20px;
      text-transform: capitalize;
      text-decoration: none;
      color: black;
      &:hover {
        background-color: grey;
      }
    }
  }
}

.header {
  background-color: #6b32e1;
  padding: 3px;
}
